<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kutubxona</title>
</head>
<body>
<h1> Bosh sahifa</h1>
<a href="mualliflar/"> mualliflar</a>
<hr>
<a href="kitoblar_haqida"> kitoblar </a>
<hr>
<a href="recordlar"> recordlar </a>
<hr>
<a href="tirik_mualliflar"> tirik mualliflar</a>
<hr>
<a href="sahifasi_katta_kitoblar"> sahifasi kop kitoblar</a>
<hr>
<a href="kitobi_kop_mualliflar"> kitobi_kop_mualliflar</a>
<hr>
<a href="oxirgi_recordlar"> oxirgi recordlar</a>
<hr>
<a href="Tiriklarning_kitoblari"> Tirik mualliflarning kitoblari</a>
<hr>
<a href="Badiy_kitoblar"> Badiy kitoblar</a>
<hr>
<a href="Yoshi_katta_mualliflar"> Yoshi_katta_mualliflar</a>
<hr>
<a href="Kitob_soni_10_kichik"> Kitob soni 10 tadan kichik bolgan mualliflarning kitoblari</a>
<hr>
<a href="recordlar"> recordlar</a>




</body>
</html>